<%#
# LazyHasMany Form Partial

This partial renders an input element for has_many relationships.
Instead of the default, this only loads the results lazily

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::LazyHasMany][1].
  A wrapper around the [Administrate::Field::HasMany][2] field
%>

<div class="field-unit__label">
  <%= f.label field.name %>
</div>
<div class="field-unit__field"
     data-component="lazy-has-many"
     data-lazy-has-many="<%=
       {
         url: field.templated_action,
         value: field.value_attribute,
         label: field.label_attribute
       }.to_json
     %>"
>
  <div class="field-unit__field">
    <div class="selectwarning">
      Make sure the items you want to be included are selected before submitting.
    </div>
    <%= f.collection_select field.attribute_key, field.data, field.value_attribute, field.label_attribute, { include_blank: field.display_placeholder }, { multiple: true,  id: "selected", class: "selected" }%>
  </div>
  <div class="popout" data-target="popout">
    <input type="search" class="search" placeholder="Search...">
    <i class="icon">
      <svg width="18" height="18" viewBox="0 0 24 24" focusable="false" role="presentation">
        <path d="M16.436 15.085l3.94 4.01a1 1 0 0 1-1.425 1.402l-3.938-4.006a7.5 7.5 0 1 1 1.423-1.406zM10.5 16a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z" fill="currentColor" fill-rule="evenodd"></path>
      </svg>
    </i>
    <output class="results" data-target="output">
      <select class="results-select" data-max-size="<%= field.size %>">
        <option></option>
      </select>
    </output>
  </div>
</div>

